@namespace Overlapp.Components
@using Microsoft.AspNetCore.Components.Forms

<div class="container-fluid">
	<div class="row">
		<EditForm Model="Data" OnValidSubmit="Route" class="input-group">
			<InputText @bind-Value="SearchTerm" class="input-group-text flex-grow-1" placeholder="Search for Tv or a Movie"></InputText>
			<button disabled="@IsBusy" type="submit" class="btn btn-primary">?</button>
		</EditForm>
	</div>

	@if (IsBusy)
	{
		// todo: replace with placeholder-rows?
		<div class="spinner-grow m-auto"></div>
	}
	else if (Data?.results?.Any() ?? false)
	{
		<ul class="list-group">
			@foreach (var row in Data.results)
			{
				var media = (IMediaRecord)row;
				<li class="list-group-item">
					<SearchRow Media="media" SelectedClick="SelectClicked"></SearchRow>
				</li>
			}
		</ul>

	}
	else if (!IsBusy && !string.IsNullOrWhiteSpace(SearchTerm))
	{
		@:No Results for '@SearchTerm' :(
	}

</div>
