@namespace Overlapp.Components

<div class="row">
	<div class="col">
		<img src="@ImagePath("/no-image-available.svg")" />
	</div>
	<div class="col">
		<div class="fw-bold fs-3">@Media.NameOrTitle</div>
		<div class="fs-2">@Media.MediaType</div>
		<div class="fs-2">@Media.ReleaseDate.Year</div>
	</div>
</div>