@namespace Overlapp.Components
@using Microsoft.AspNetCore.Components.Forms

<div class="container-fluid">
	<SearchForm SearchTerm="@SearchTerm" OnSearchSubmitted="(x) => Route(x)"></SearchForm>

	@if (IsBusy)
	{
		// todo: replace with placeholder-rows?
		<div class="spinner-grow m-auto"></div>
	}
	else if (Data?.results?.Any() ?? false)
	{
		<button class="btn btn-primary" @onclick="()=>Route()">New Search</button>
		<ul class="list-group">
			@foreach (var row in Data.results)
			{
				var media = (IMediaRecord)row;
				<li class="list-group-item border m-1">
					<SearchRow Media="media" SelectedClick="SelectClicked"></SearchRow>
					@if (row.MediaType == MediaType.Tv){
						<EpisodeSelector series_id="row.id" OnEpisodeSelected="OnEpisodeSelected" FetchDetails="FetchTvDetails"></EpisodeSelector>
					}
				</li>
			}
		</ul>

	}
	else if (!IsBusy && !string.IsNullOrWhiteSpace(SearchTerm))
	{
		<button class="btn btn-primary" @onclick="()=>Route()">New Search</button>
		@:No Results for '@SearchTerm' :(
	}

</div>
