@page "/"
@inject NavigationManager Navigation

<div>
	Hello World.... todo: make a homescreen!
</div>

<a href="/search">Search</a>

@code {

	protected override void OnInitialized()
	{
		GoToSearch();
	}

	private void GoToSearch(){
		Navigation.NavigateTo("/search");
	}
}