@page "/"
@inject NavigationManager Navigation

<div class="container flex-column d-flex text-center vh-100">
	<div class="row mt-auto mb-4">
		<h5>
			<i>Welcome to... </i>
		</h5>
	</div>

	<div class="row">
		<h1>Overlapp!</h1>
	</div>
	<div class="row mt-auto">
		<span class="">
			Finally answer the question: Isn't that the actor from XYZ??
		</span>
	</div>
	
	<div class="row mt-auto">
		<form @onsubmit="(e) => GoToSearch()" class="input-group input-group-lg" >
			<input type="text" class="input-group-text flex-grow-1" placeholder="Search for a Movie or Tv show" @bind="SearchTerm" @bind:event="oninput" />
			<button type="submit" class="btn btn-primary btn-lg @(string.IsNullOrWhiteSpace(SearchTerm) ? "disabled" : "")">Search</button>
		</form>
	</div>
	<div class="row mt-auto">

	</div>

</div>



