@page "/"
@inject NavigationManager Navigation

<div>
	Hello World.... todo: make a homescreen!
</div>

<a href="/search">Search</a>

@code {

	protected override void OnInitialized()
	{
#if DEBUG
	Navigation.NavigateTo("/overlap?ida=T1855&idb=T580");
#endif
		GoToSearch();
	}

	private void GoToSearch(){
		Navigation.NavigateTo("/search");
	}
}