@page "/"
@inject NavigationManager Navigation

<div>
	Hello World
</div>

<a href="/search">Search</a>

@code {

	protected override void OnInitialized()
	{
		// todo: this is for testing
		GoToSearch();
	}

	private void GoToSearch(){
		Navigation.NavigateTo("/search");
	}
}