@page "/search"
@page "/search/{searchTerm}"

<CascadingValue Value="ImageConfiguration">
	@if(FillingNumber.HasValue)
	{
		<button @onclick="@(()=> FillingNumber = null)">Cancel</button>
		<SearchList GetDataAsync="FetchDataAsync" SearchTerm="@SearchTerm" SelectClicked="ItemSelected"></SearchList>
	}
	else 
	{
		<MediaComparison Data="AppState.Request.Items" ItemRemoveClick="ItemRemove" EmptySelected="EmptySelected"></MediaComparison>
	}
</CascadingValue>