@page "/search"
@page "/search/{searchTerm}"

<CascadingValue Value="ImageConfiguration">
	<MediaComparison Data="AppState.Request.Items" ItemRemoveClick="ItemRemove" EmptySlotSelected="EmptySelected"></MediaComparison>
	<div class="position-relative mt-3">
		<SearchList GetDataAsync="FetchDataAsync"
					SearchTerm="@SearchTerm"
					SelectClicked="ItemSelected"
					OnEpisodeSelected="OnEpisodeSelected"
					FetchSeasonDetails="FetchSeasonDetails"
					FetchTvDetails="FetchTvDetails"></SearchList>
	</div>

</CascadingValue>