<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="/search">Search</a>
		</li>
	</ol>
</nav>

<div class="row border">
	@foreach(var item in Response.Items)
	{
		<div class="col-2">
			<img src="@(ImageConfiguration.MakeImage(item) ?? "no-image-available.svg")" />
		</div>
		<div class="col-4">
			<h5>@item.NameOrTitle</h5>
			<h6>@item.ReleaseDate</h6>
		</div>
	}
</div>

@code {
	[Parameter]
	public Overlapp.Shared.Model.OverlapResponse Response { get; set; }

	[CascadingParameter]
	public ImageConfiguration ImageConfiguration { get; set; }
}
